:root {
    --main-lighter: white;
    --main-light:#ff6900;
    --main-dark: #1a1a1a;
    --bg-ethics: #008000;
    --bg-sale: #ff0000;
}

* {
    border: 0.5px dashed;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*Utility*/
.d-price {
    color: var(--bg-sale);
    font-weight: bold;
}

.o-price {
    text-decoration: line-through;
    font-size: 12px;

}

/*Header*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-light);
    color: white;
    min-height: 3rem;
    
    nav {
        font-size: 0.75rem;
        font-weight:550;
        padding: 0.5rem;
    }

    img {
        width: 100px;
        vertical-align: middle;
    }

    .user {
        padding: 0.5rem;
    }
}

/*Main*/
.look-book {
    display: flex;
    flex-direction:column;
    margin: 2rem 8rem;
    padding: 1.5rem;
    
    .row {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        margin-bottom: 2rem;
        
        div {
            flex-grow: 1;
            width: 33%;

            img {
                width: 100%
            }
        };
    }

}
/*prova
.look {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
} */

.look {
    min-width: 100%;
    position: relative;

    i {
        background-color: var(--main-lighter);
        padding: 0.75rem;
        margin: 0;
        position:absolute;
        top: 0.5rem;
        right: 0;
    }

    .detail {
        position: absolute;
        left: 0;
        bottom:2rem;
        color: white;
        font-size: 11px;

        .discount {
            background-color: var(--bg-sale);
            padding: 0.25rem 0.5rem;
            margin-right: 0.25rem;
        }

        .ethics {
            background-color: var(--bg-ethics);
            padding: 0.25rem 0.5rem;
        }
    }
}

section {
    gap: 0;

h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 11px;

   
}

}

