:root {
    --main-lighter: white;
    --main-light:#ff6900;
    --main-dark: #1a1a1a;
    --bg-ethics: #008000;
    --bg-sale: #ff0000;
}

/*
* {
    border: 0.5px dashed;
}
    */

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
}

/*Utility*/
.d-price {
    color: var(--bg-sale);
    font-weight: bold;
}

.o-price {
    text-decoration: line-through;
    font-size: 12px;

}

/*Header*/
.container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--main-light);
    color: white;
    min-height: 3rem;
    
    nav {
        font-size: 0.75rem;
        font-weight:550;
        padding: 0.5rem;

        a {
            text-decoration: none;
            color: white;
        }
    }

    img {
        width: 100px;
        vertical-align: middle;
    }

    .user {
        padding: 0.5rem;
    }
}

/*Main*/
.look-book {
    display: flex;
    flex-direction:column;
    margin: 2rem 10rem;
    padding: 1.5rem;
    
    .card {
        display: flex;
        justify-content: space-between;
        margin-bottom: 2rem;
        flex-wrap: wrap;
        
        .item {
            width: 32%;

            img {
                width: 100%;
            }

            .alt-img-1 {
                display: none;
            }
            .alt-img-2 {
                display: none;
            }
            .alt-img-3 {
                display: none;
            }
            .alt-img-4 {
                display: none;
            }
            .alt-img-5 {
                display: none;
            }
            .alt-img-6 {
                display: none;
            }
        }

        .item:hover {
            
            .alt-img-1 {
                display: block;
            }
            .img-1 {
                display: none;
            }
            .alt-img-2 {
                display: block;
            }
            .img-2 {
                display: none;
            }
            .alt-img-3 {
                display: block;
            }
            .img-3 {
                display: none;
            }
            .alt-img-4 {
                display: block;
            }
            .img-4 {
                display: none;
            }
            .alt-img-5 {
                display: block;
            }
            .img-5 {
                display: none;
            }
            .alt-img-6 {
                display: block;
            }
            .img-6 {
                display: none;
            }
        }
    }

}

.look {
    min-width: 100%;
    position: relative;
    display: inline-block;

    i {
        background-color: var(--main-lighter);
        padding: 0.75rem;
        margin: 0;
        position:absolute;
        top: 0.5rem;
        right: 0;
    }

    .detail {
        position: absolute;
        left: 0;
        bottom:2rem;
        color: white;
        font-size: 11px;

        .discount {
            background-color: var(--bg-sale);
            padding: 0.25rem 0.5rem;
            margin-right: 0.25rem;
        }

        .ethics {
            background-color: var(--bg-ethics);
            padding: 0.25rem 0.5rem;
        }
    }
}

.caption {
    gap: 0;
    margin-bottom: 2rem;

h2 {
    text-transform: uppercase;
    margin: 0;
    font-size: 13px;
    padding: 0;
}

p {
    margin: 0;
    padding: 0;
    font-size: 11px;  
}

}


/*FOOTER*/

footer {
    background-color: var(--main-dark);
}
.bottom {
    background-color: var(--main-dark);
    color: var(--main-lighter);
    display: flex;
    justify-content: space-between;
    margin: 0 10rem 0 10rem;
    padding: 1rem;

    .links {
        align-self: center;
    }

    h5{
        margin: 0.5rem 0 0.5rem 0;
    }

    a {
        color: white;
        text-decoration: none;
        font-size: 10px;
    }

    .social {
        font-size: 10px;
        font-weight: bold;
    }

    p{
        padding: 0.25rem;
    }

    i {
        width: 15px;
        text-align: center;
        padding: 0.25rem;
    }

}
